<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.base_url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.base_url %} active{% endif %}" href="{{ site.base_url }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            {% if node.show_on_side_bar %}
              <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.base_url }}{{ node.url  | remove_first: '/' }}">{{ node.title }}</a>
              {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}

      <hr/>
      {% for item in site.data.social %}
        <a href="{{ item.link }}">
          <img src="{{ item.icon }}" width="40" height="40" style="display: inline-block" />
        </a>
      {% endfor %}
      <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/master.zip">Download</a> -->
      <!-- <hr> -->
      <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a> -->
    </nav>
    <!-- <p class="sidebar-nav-item">Currently v{{ site.version }}</p> -->
    <!-- <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p> -->
  </div>
</div>
